In [41]:
import pandas as pd
import numpy as np
seed=10
np.random.seed(seed)

import tensorflow as tf
tf.set_random_seed(seed)

In [40]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Activation
from keras.layers.core import Dropout

In [42]:
import keras

In [11]:
credit=pd.read_csv("Credit.csv")

In [12]:
credit.head(5)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [13]:
credit = credit.drop(["ID"],axis=1)
credit = credit.drop_duplicates()

from sklearn.model_selection import train_test_split

train, test = train_test_split(credit, test_size = 0.2)

In [14]:
X_train = train.drop('default.payment.next.month',axis=1)

Y_train = train['default.payment.next.month']

X_test =  test.drop('default.payment.next.month',axis=1)

Y_test = test['default.payment.next.month']

In [117]:
#size= X_train.shape[1]

In [43]:
model = Sequential()

In [131]:
from keras.layers.normalization import BatchNormalization

In [135]:
model.add(Dense(512, input_dim=size, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(256, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))
model.add(Dense(128, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))
model.add(Dense(128, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))
model.add(Dense(64, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))
model.add(Dense(32, activation='relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))
model.add(Dense(16, activation='relu'))
model.add(Dropout(0.5))
model.add(BatchNormalization())
model.add(Dense(8, activation='sigmoid'))
model.add(Dense(1,  activation='sigmoid'))

In [136]:
model.compile(loss='binary_crossentropy', optimizer= 'adam', metrics=['accuracy'])

In [137]:
model.fit(np.array(X_train), np.array(Y_train), batch_size=100, epochs=10,verbose=1)

Epoch 1/10
23972/23972 [==============================] - 27s - loss: 0.6628 - acc: 0.6033
Epoch 2/10
23972/23972 [==============================] - 21s - loss: 0.5385 - acc: 0.7787
Epoch 3/10
23972/23972 [==============================] - 21s - loss: 0.5308 - acc: 0.7805
Epoch 4/10
23972/23972 [==============================] - 21s - loss: 0.5284 - acc: 0.7805
Epoch 5/10
23972/23972 [==============================] - 21s - loss: 0.5276 - acc: 0.7805
Epoch 6/10
23972/23972 [==============================] - 21s - loss: 0.5277 - acc: 0.7805
Epoch 7/10
23972/23972 [==============================] - 21s - loss: 0.5275 - acc: 0.7805
Epoch 8/10
23972/23972 [==============================] - 21s - loss: 0.5270 - acc: 0.7805
Epoch 9/10
23972/23972 [==============================] - 21s - loss: 0.5268 - acc: 0.7805
Epoch 10/10
23972/23972 [==============================] - 21s - loss: 0.5267 - acc: 0.7805

In [121]:
model.evaluate(np.array(X_test),np.array(Y_test))

5888/5993 [============================>.] - ETA: 0s

[0.53717316609281895, 0.7717336893240796]

In [122]:
y_pred=model.predict(np.array(X_test))

In [123]:
from sklearn.metrics import precision_score
precision_score(Y_test, y_pred.round(), average='weighted')

C:\ProgramData\Anaconda3\envs\tensor\lib\site-packages\sklearn\metrics\classification.py:1113: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

0.59557288720705326

In [124]:
precision=precision_score(Y_test, y_pred.round(), average='weighted')

C:\ProgramData\Anaconda3\envs\tensor\lib\site-packages\sklearn\metrics\classification.py:1113: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [125]:
from sklearn.metrics import recall_score
print(recall)
recall=recall_score(Y_test, y_pred.round(), average='weighted')

0.771733689304

In [126]:
F1 = 2 * (precision * recall) / (precision + recall)
F1

0.6723052011738313